@page
@model FCETC.Pages.AbstractRequirementsModel
@{
    ViewData["Title"] = "Abstract Requirements";
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>Abstract Requirements</h1>
    <hr />
    <div class="row">
        <div class="col-md-12 mb-3">
            <p>You must submit an abstract of no more than 250 words and your bio-sketch of approximately 100 words which includes your name, affiliation, qualifications, and work experience. Your abstract must clearly demonstrate relevant issues and concerns in language and education and propose practical implications. Please note that you can submit more than one abstract by sending them in only one email. If your paper consists of more than one author, please indicate the contribution to the authorship and the correspondence person in your submission email.</p>
            <p>To submit an abstract, you must register an account by logging in to:  <a href="~/Register">Register</a></p>
            <p><a href="~/images/fcle_images/Paper_template_FCLE.docx" download="Paper_template_FCLE.docx">Abstract & Full Paper Template</a></p>
        </div>

    </div>
    <br />
    <hr />

</div>