@page
@model FCETC.Pages.AccommodationModel
@{
    ViewData["Title"] = "Recommended Accommodation";
}


<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>RECOMMENDED ACCOMMODATION</h1>
    To be updated soon.
</div>


