@page
@model FCETC.Pages.BestPaperAwardModel
@{
    ViewData["Title"] = "Best Paper Award";
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>BEST PAPER AWARD</h1>
    <hr />
    <p>
        Awards will be available for 4 outstanding presenters who clearly address the conference theme and topics, and who can provide effective resolutions and significant pedagogical implications.
    </p>    
</div>