@page
@model FCETC.Pages.CFPModel
@{
    ViewData["Title"] = "Call for pagers";
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>CALL FOR PAPERS</h1>
    <p>
        The main theme of the 2025 conference is <strong>"AI Solution for Developing Countries"</strong>, aiming to explore the latest solutions and technologies related to Artificial Intelligence.
        <br />
        The conference will place a strong emphasis on breakthroughs in machine learning models, natural language processing, computer vision, and optimization methods, all aimed at enhancing the efficiency and capabilities of AI systems. Beyond theoretical research, the conference is particularly focused on the application of these findings to solve real-world problems in sectors such as healthcare, finance, manufacturing, education, transportation, and many others. We aspire for this conference to serve as a launching pad for research that contributes to economic and social development.
    </p>
    <p><b>Conference sub-themes:</b></p>
    <p>We especially invite researchers to submit papers on the following AI-related subtopics:</p>
    <ul style="list-style-type: disc;">
            <li>Machine Learning</li>
            <li>Deep Learning</li>
            <li>Natural Language Processing (NLP)</li>
            <li>Computer Vision</li>
            <li>Robotics and Automation</li>
            <li>Explainable AI (XAI)</li>
            <li>Interactive AI</li>
            <li>AI in Healthcare</li>
            <li>Distributed AI</li>
            <li>AI and the Internet of Things (IoT)</li>
            <li>AI in Finance</li>
            <li>AI in Education</li>
            <li>AI in Transportation</li>
            <li>AI in Arts and Entertainment</li>
            <li>AI and Data Science</li>
            <li>Multimodal AI</li>
            <li>AI in Cybersecurity</li>
            <li>AI in Energy</li>
            <li>AI in Mental Health</li>
    </ul>
</div>