@page
@model FCETC.Pages.ComingSoonModel
@{
    ViewData["Title"] = "Coming Soon";
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>COMING SOON</h1>
    
</div>