@page
@model FCETC.Pages.ConferenceFeesModel
@{
    ViewData["Title"] = "Conference Fees";
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>Conference Fees</h1>
    <div class="tbfee-right">
        <p>International Authors/Listeners</p>
        <table>
            <tr>
                <th rowspan="2">Registration Type</th>
                <th style="text-align: center;">Region</th>
                <th colspan="2" style="text-align: center;">Inclusive Package</th>
            </tr>
            <tr>
                <td>International</td>
                <td>Include Gala dinner</td>
                <td>Include Academic tour</td>
            </tr>
            <tr>
                <td>Author (Regular)</td>
                <td>350 USD</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Author (Student)</td>
                <td>250 USD</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Listener</td>
                <td>100 USD</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
        </table>
        <p>Domestic Authors/Listeners</p>
        <table>
            <tr>
                <th rowspan="2">Registration Type</th>
                <th style="text-align: center;">Region</th>
                <th colspan="2" style="text-align: center;">Inclusive Package</th>
            </tr>
            <tr>
                <td>Vietnam</td>
                <td>Include Gala dinner</td>
                <td>Include Academic tour</td>
            </tr>
            <tr>
                <td>Author (Regular)</td>
                <td>5,000,000 VND</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Author (Student)</td>
                <td>4,500,000 VND</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
            <tr>
                <td>Listener</td>
                <td>1,000,000 VND</td>
                <td>Yes</td>
                <td>Yes</td>
            </tr>
        </table>
    </div>
</div>