@page
@model FCETC.Pages.ContactModel
@{
    string text = $"{Model.ProjectName.ToUpper()} 20{Model.ProjectYear}";
    ViewData["Title"] = "Contact Us";
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>CONTACT US</h1>
    <hr />
    Website: <a href="https://science.fpt.edu.vn/fcetc">https://science.fpt.edu.vn/FCETC</a> <br />
    Email: fcetc@fe.edu.vn <br />
    Phone: +84 2466549806 <br />
</div>