@page
@model FCETC.Pages.FullPaperRequirementsModel
@{
    ViewData["Title"] = "Full Paper Requirements";
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>FULL PAPER REQUIREMENTS</h1>
    <hr />
    <div class="row">
        <div class="col-md-12 mb-3">
            <p>The full paper should be no more than 7,000 words in length, excluding references and any appendices </p>
            <p>To submit a full-length paper for FCETC 2025, you must register an account by logging in to:  <a href="~/Register">Register</a></p>
            <p>High-quality papers are invited to submit to Scopus-indexed journals.</p>
            <p>
                PUBLICATION ETHICS – PENALTY AGAINST PLAGIARISM
                We firmly believe that ethical conduct is the most essential virtue of any academic. Hence, any act of plagiarism is a totally unacceptable academic misconduct and cannot be tolerated.
            </p>
            <p><strong>Requirement: Similarity index must NOT exceed 20%</strong></p>
            <p><a href="~/images/fcle_images/Paper_template_FCLE.docx" download="Paper_template_FCLE.docx">Abstract & Full Paper Template</a></p>
        </div>

    </div>
</div>