@page
@model FCETC.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>GALLERY</h1>
    To be updated soon.
</div>