@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>INTRODUCTION</h1>
    <hr />
    <p>
        2025 1st FPT International Conference on Emerging Trends in Computing - FECTC 2025 is organised by FPT University, Vietnam, Cantho Campus, on August 30th - 31st, 2025.
    </p>
    <p>
        The FCETC 2025 offers a range of engaging activities for both local and international experts, including pre-conference workshops, team-building sessions, and entertainment activities, followed by keynote presentations and in-depth discussion panels. These panels will focus on cutting-edge AI technologies and their applications in real-world scenarios.
    </p>
    <p>
        In particular, FCETC 2025 aims to:
        <ul style="list-style-type: disc;">
            <li>Showcase the latest breakthroughs in AI research and their practical applications in sectors such as healthcare, finance, manufacturing, and transportation.</li>
            <li>Promote professional dialogue on emerging trends and challenges in AI development, deployment, and ethics.</li>
            <li>Provide constructive feedback on potential research papers to foster the future growth of AI studies.</li>
            <li>Encourage collaboration between universities, independent researchers, and companies to translate research findings into practical applications.</li>
            <li>Strengthen partnerships between FPT University and domestic and international institutions, contributing to global progress in AI research and development.</li>
        </ul>

    </p>
    <h1>MAJOR THEMES</h1>
    <hr />
    <p>
        This conference covers, but is not limited to, the following key AI-related topics:
        <ul style="list-style-type: disc;">
            <li>Machine Learning</li>
            <li>Deep Learning</li>
            <li>Natural Language Processing (NLP)</li>
            <li>Computer Vision</li>
            <li>Robotics and Automation</li>
            <li>Explainable AI (XAI)</li>
            <li>Interactive AI</li>
            <li>AI in Healthcare</li>
            <li>Distributed AI</li>
            <li>AI and the Internet of Things (IoT)</li>
            <li>AI in Finance</li>
            <li>AI in Education</li>
            <li>AI in Transportation</li>
            <li>AI in Arts and Entertainment</li>
            <li>AI and Data Science</li>
            <li>Multimodal AI</li>
            <li>AI in Cybersecurity</li>
            <li>AI in Energy</li>
            <li>AI in Mental Health</li>

        </ul>
    </p>
    <h1>PUBLICATION OPPORTUNITIES</h1>
    <hr />
    <p>
        Authors of full papers will be offered opportunities to publish their paperwork in either
        ISBN proceedings or ISI/Scopus-indexed journals. Information about the specific journals
        will be updated on the conference website.

    </p>

    <h1>IMPORTANT DATES</h1>
    <hr />
    <ul style="list-style-type: disc;">
        <li>
            Abstract Submission Deadline: April 30th, 2025
        </li>
        <li>
            Extended deadline for full paper submission: (<em>
                only applied to participants submitting their Full papers
                for offline Presentation and possible Publication
            </em>): July 15th, 2025
        </li>
        <li>
            Notification of Acceptance: July 1st, 2025
        </li>
        <li>
            Author registration and Fee payment (<em>Compulsory for Paper Acceptance</em>): July 15th, 2025
        </li>
        <li>
            Conference Date: August 30th - 31st, 2025
        </li>
    </ul>
    <hr />
    <h1>REGISTRATION</h1>
    <hr />
    <p>
        <a asp-page="/Registration">Please visit Registration</a>
    </p>

    <hr />

    <h1>ORGANIZER</h1>
    <hr />
    <p>
        FPT Education, Vietnam 
    </p>

</div>