@page
@model FCETC.Pages.KeyDatesModel
@{
    ViewData["Title"] = "Key Dates";
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>Key Dates</h1>
    <div class="importantday">
        <ul>
            <li>Abstract Submission Deadline: <strong>April 30th, 2025</strong></li>
            <li>Extended deadline for full paper submission <i>(only applied to participants submitting their Full papers for offline Presentation and possible Publication)</i>: <strong>July 15th, 2025</strong></li>
            <li>Notification of Acceptance Deadline: <strong>July 1st, 2025</strong></li>
            <li>Author registration and Fee payment: <strong>July 15th, 2025</strong></li>
            <li>Conference Date:<strong> August 30th - 31st, 2025</strong></li>
        </ul>
    </div>
</div>