@page
@model FCETC.Pages.KeynoteModel
@{
    ViewData["Title"] = "Keynote Speakers";
}

<div class="lead" style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>Keynote Speakers</h1>
    <hr />
    <h3>Coming Soon</h3>
    
</div>