@page
@model FCETC.Pages.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<div class="lead" style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>Account Registration and Submission Instructions</h1>
    <hr />
    <p>
        Please strictly follow instructions for registration and submission. Click <a
            href="~/Resources/Downloads/FCAI-2024_Instructions.pdf" target="_blank">here</a> for more details.
    </p>
    <p>Due to current updated website functions, all users must register new account for registration and submission. We
        would like to apologize for this inconvenience.</p>

    <h1>CONFERENCE FEE</h1>
    <hr />
    <p>International Authors/Listeners</p>
    <table class="tbfee">
        <tr>
            <th rowspan="2">Registration Type</th>
            <th style="text-align: center;">Region</th>
            <th colspan="2" style="text-align: center;">Inclusive Package</th>
        </tr>
        <tr>
            <td>International</td>
            <td>Include Gala dinner</td>
            <td>Include Academic tour</td>
        </tr>
        <tr>
            <td>Author (Regular)</td>
            <td>350 USD</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Author (Student)</td>
            <td>250 USD</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Listener</td>
            <td>100 USD</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
    </table>
    <p>Domestic Authors/Listeners</p>
    <table class="tbfee">
        <tr>
            <th rowspan="2">Registration Type</th>
            <th style="text-align: center;">Region</th>
            <th colspan="2" style="text-align: center;">Inclusive Package</th>
        </tr>
        <tr>
            <td>Vietnam</td>
            <td>Include Gala dinner</td>
            <td>Include Academic tour</td>
        </tr>
        <tr>
            <td>Author (Regular)</td>
            <td>5,000,000 VND</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Author (Student)</td>
            <td>4,500,000 VND</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Listener</td>
            <td>1,000,000 VND</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
    </table>
    <p>All registration types include admission to the following:</p>
    <ul style="list-style-type: disc;">
        <li>All technical sessions</li>
        <li>Coffee breaks</li>
        <li>Lunches</li>
        <li>Academic tour</li>
        <li>Gala dinner</li>
        <li>Certificate of Attendance</li>
    </ul>

    <h1>REGISTRATION POLICY</h1>
    <hr />
    <ul style="list-style-type: disc;">
        <li>Onsite registration is not available for all types of participants. Registration is only accepted with
            online registration and payment. Please finish your registration and payment before the deadline.</li>
        <li>The registration fees applicable for the full paper ranging from 5000 to 8000 words including all figures,
            tables, references, and appendix.</li>
        <li>Co-author who wants to attend the conference is advised to register well in advance. Conference certificate
            is only offered to the main author who is in charge of paper presentation at the conference.</li>
        <li>Payment in VND is applied for Domestic attendees and international attendees who are residing in Vietnam.
        </li>
        <li>Please upload the required documents to the online registration system or conference email box:
            FCETC@fe.edu.vn to finish the registration:</li>
        <ul style="list-style-type: disc;">
            <li>Full paper</li>
            <li>Presentation slides</li>
            <li>Payment proof</li>
        </ul>
    </ul>
    <p>
        Registration cannot be cancelled and payment will not be refunded by any cases
    </p>
    <hr />
    <h1>PAYMENT</h1>
    <p>
        Once receive a notification from FCAI 2024 that the paper is accepted, please follow the steps
        below:<br />
        Step 1: Fill online registration form for each paper (Only applied for ONE author only)
        <br />
        Step 2: Pay registration fee
        <br />
        Once finish online registration, please pay the registration fee via bank transfer by 19th October 2024
        <br />
        The bank account is detailed as follows:
    <ul style="list-style-type: disc;">
        <li>Our Bank Name: TIEN PHONG COMMERCIAL JOINT STOCK BANK, HANOI, VIETNAM</li>
        <li>Our Account No.: 00006969002</li>
        <li>Swift Code: TPBVVNVX</li>
        <li>Beneficiary: Truong Dai Hoc FPT</li>
        <li>Address: Hoan Kiem branch, Hanoi, Vietnam/Chi nhánh Hoàn Kiếm, Hà Nội, Vietnam</li>
    </ul>
    <p>
        * Bank Address or Bank Branch is only compulsory for domestic transfer. International author or listener do NOT
        have to
        insert this information during their international money order (IMO)
    </p>
    </p>
</div>