@page
@model FCETC.Pages.ReviewBoardModel
@{
    ViewData["Title"] = "Review Board";
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>Review Board</h1>
    <hr />
    To be updated soon.
</div>