@page
@model FCETC.Pages.TourModel
@{
    ViewData["Title"] = "Tour";
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>Cantho City Tour</h1>
    To be updated soon.
</div>