@page
@model FCETC.Pages.VenueModel
@{
    ViewData["Title"] = "Vue";
}

<div class="lead" style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>VENUE</h1>
    <hr />
    <div class="row">
        <div class="col-md-12 mb-3">
            <p>
                FCETC 2025 will be held at FPT University in Can Tho City, Vietnam.
            </p>
            <p>
                Can Tho is the largest city in the Mekong Delta, Vietnam. This city is located on the south bank of the Hau River, 170 km far from Ho Chi Minh City to the south. It serves as the political, cultural, and commercial center of the Mekong Delta. The city has a network of canals and waterways that are vital for transportation and agriculture.
                Can Tho is known for its natural and hi storical tourist attractions such as Cai Rang floating market, Binh Thuy ancient house, Ong pagoda, Ninh Kieu wharf, orchards and rice-paper-making villages. Besides, the cuisine in Can Tho is diverse with unique specialties of the Mekong Delta region, namely Vietnamese pancake, crab noodle soup, and cylindrical sticky rice cake.

            </p>
            <p>
                Can Tho is home to high-quality educational institutions and research centers, contributing to the intellectual and academic development of the region.
            </p>
        </div>
        <div class="col-md-12 mb-3 d-flex justify-content-center" style="text-align: center;">
            <iframe style="aspect-ratio:65/37; width:100%;"src="https://drive.google.com/file/d/15cw1oQtB5ymQ1f3O3ta-YR_OLi76m6D8/preview" width="650" height="370" allow="autoplay"></iframe>

        </div>
        <div class="col-md-12 mb-3">
            <img style="width: 100%;" src="~/images/fcetc/TrangVenue-FCLE-01.png" alt="" />
        </div>

        @* <div style="margin-top: 10px;" class="col-md-12 mb-3">
        <div class="row">
        <div class="col-md-6 mb-3">
        <img width="400px" src="~/images/fcle_images/CT-1.jpg" class="fadeIn">
        </div>
        <div class="col-md-6 mb-3">
        <img width="400px" src="~/images/fcle_images/CT-2.jpg" class="fadeIn">
        </div>
        </div>
        </div> *@

        @* <div class="col-md-12 mb-3" style="margin-top: 10px">
        <div class="row">
        <div class="col-md-6 mb-3">
        <img width="400px" src="~/images/fcle_images/CT-6.jpg" class="fadeIn">
        </div>
        <div class="col-md-6 mb-3">
        <img width="400px" src="~/images/fcle_images/CT-4.jpg" class="fadeIn">
        </div>
        </div>
        </div> *@
        @* <div class="col-md-12 mb-3" style="margin-top: 10px">

        <img width="800px" src="~/images/fcle_images/CT-3.jpg" class="fadeIn">

        </div> *@

    </div>
    <br />
    <hr />

</div>