@using System.Security.Claims;


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    string name = " ";
    string nameIdentifier = User.FindFirstValue(ClaimTypes.NameIdentifier);
    if (nameIdentifier != null)
    {
        User user = await UserManager.FindByIdAsync(nameIdentifier) ?? new User();
        if (user.Name != string.Empty)
        {
            name = user.Name;
        }
    }


}
<style>

    .regisloginblock {
        display: flex !important;
    }

</style>
@* @User.Identity.Claims.Count *@
<ul class="nav navbar-nav navbar-right">
    @if (nameIdentifier != null)
    {
        <li class="dropdown">

            @if (User.IsInRole(Core.Commons.FCConstants.RoleName.Admin))
            {
                <a href="#" class="dropdown-toggle" data-hover="dropdown">
                    Hello Admin
                </a>
            }
            else
            {
                <a href="#" class="dropdown-toggle" data-hover="dropdown" style="font-size: 10px">
                    Hello  @name
                </a>
            }




            <ul class="dropdown-menu fadeIn">
                @if (User.IsInRole(Core.Commons.FCConstants.RoleName.Admin))
                {
                    <li>
                        <a class="dropdown-item nav-link btn btn-link text-dark"  asp-area="Admin" asp-page="/News/Index" style="font-size: 10px">News Manager</a>
                    </li>
                    <li>
                        <a class="dropdown-item nav-link btn btn-link text-dark" asp-area="Admin" asp-page="/Submission/Index" style="font-size: 10px"> Submission Manager </a>
                    </li>
                    <li>
                        <a class="dropdown-item nav-link btn btn-link text-dark" asp-area="Admin" asp-page="/Registrations/Index" style="font-size: 10px">Registration Manager </a>
                    </li>
                }
                @if (User.IsInRole(Core.Commons.FCConstants.RoleName.Client))
                {

                    <li>
                        <a class="dropdown-item nav-link btn btn-link text-dark" asp-area="Client" asp-page="/Papers/Create" style="font-size: 10px">New Submission</a>
                    </li>
                    <li>

                        <a class="dropdown-item nav-link btn btn-link text-dark" asp-area="Client" asp-page="/Papers/Index" style="font-size: 10px">My Submission</a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item nav-link btn btn-link text-dark" asp-area="Client" asp-page="/Registrations/Create" style="font-size: 10px">New Registration</a>
                    </li>
                    <li>

                        <a class="dropdown-item nav-link btn btn-link text-dark" asp-area="Client" asp-page="/Registrations/Index" style="font-size: 10px">My Registration</a>
                    </li>
                }
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a onclick="document.getElementById('logoutForm').submit()" class="dropdown-item nav-link btn btn-link text-dark" href="#" style="font-size: 10px">Log out</a>
                </li>
            </ul>
        </li>

        <form style="display:none" id="logoutForm" class="dropdown-item" asp-area="" asp-page="/Authorize/Logout" asp-route-returnUrl="@Url.Page("//Index", new { area = "" })">
        </form>
    }
    else
    {
        <li class="regisloginblock d-flex align-items-center">
            <a style="font-size: 12px;" class="nav-link text-info m-1" id="register" asp-area="" asp-page="/Authorize/Register">Register</a>
            <a style="font-size: 12px;" class="nav-link text-info m-1" id="login" asp-area="" asp-page="/Authorize/Login">Login</a>
        </li>
    }
</ul>



















