@page
@model FCETC.Areas.Admin.Pages.Manager.ToolModel
@{
}

<form method="post" autocomplete="off" asp-antiforgery="true">

    <button type="submit" title="Generate" class="btn btn-secondary" asp-page-handler="Generate">Khởi tạo ban đầu</button>
    <button type="submit" title="Generate" class="btn btn-secondary" asp-page-handler="Reset">Reset năm mới</button>
</form>