@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>INTRODUCTION</h1>
    <hr />
    <p>
        2024 5th FPT Education Conference on Business, Economics and Management (FCBEM 2024) is co-organised by FPT Education, Vietnam, and Greenwich Vietnam, with support from the University of Greenwich (UK). FCBEM 2024 is hosted at Greenwich Vietnam, Hanoi Campus, on 30th November and 1st December 2024.
    </p>
    <p>
        We are delighted to announce the Call for Papers for this upcoming international
        conference, themed "Exploring Synergies in Business, Operations, and Economics:
        Advancing Solutions for a Sustainable Society", which aims to explore and discuss
        emerging trends, contemporary challenges, and synergy solutions for a sustainable society
        within the fields of but not limited to economics, operations, and business management,
        fostering global collaboration and innovation. We cordially invite all researchers, scholars,
        industry experts, and practitioners to submit their original research and review papers to
        this conference with the detailed information described in the Conference Sub-themes
        section below.
        <ul style="list-style-type: disc;">
            <li>Entrepreneurship and Start-Up Ecosystems</li>
            <li>Marketing in the Digital Age</li>
            <li>Financial Management and Fintech Innovations</li>
            <li>Operations Management</li>
            <li>Supply Chain Management and Logistics in a Global Context</li>
            <li>Leadership in the 21st Century</li>
            <li>Human Resource Management and Organizational Behavior</li>
            <li>Digital Transformation and Business Innovation</li>
            <li>Emerging Technologies and their Impact on Business Models</li>
            <li>Globalization and International Business Strategies</li>
            <li>Sustainable Business Practices and Corporate Social Responsibility</li>
            <li>Green Finance and Investments</li>
            <li>Green Economy and Economic Growth</li>
            <li>Environmental Economics and Policy</li>
            <li>Economics of Renewable Energy</li>
            <li>Sustainable Development Goals (SDGs) and Economic Policies</li>
            <li>Resource Economics and Sustainable Management</li>
            <li>Economic Impact of Climate Change</li>
        </ul>

    </p>

    <h1>PUBLICATION OPPORTUNITIES</h1>
    <hr />
    <p>
        Authors of full papers will be offered opportunities to publish their paperwork in either
        ISBN proceedings or ISI/Scopus-indexed journals. Information about the specific journals
        will be updated on the conference website.

    </p>

    <h1>IMPORTANT DATES</h1>
    <hr />
    <ul style="list-style-type: disc;">
        <li>
            Abstract Submission Deadline: 6th May 2024
        </li>
        <li>
            Extended deadline for full paper submission: (<em>
                only applied to participants submitting their Full papers
                for offline Presentation and possible Publication
            </em>): 26th August 2024
        </li>
        <li>
            Notification of Acceptance: 9th September 2024
        </li>
        <li>
            Extended deadline for Author registration and Fee payment: 22nd October 2024
        </li>
        <li>
            Conference Date: 30th November & 1st December 2024
        </li>
    </ul>
    <hr />
    <h1>REGISTRATION</h1>
    <hr />
    <p>
        <a asp-page="/Registration">Please visit Registration</a>
    </p>

    <hr />

    <h1>ORGANIZER</h1>
    <hr />
    <p>
        FPT Education, Vietnam and Greenwich Vietnam, with support from the University of Greenwich, United Kingdom
    </p>

</div>