@page
@model FCAI.Pages.KeynoteModel
@{
}

<div class="lead" style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>Keynote Speakers</h1>
    <h3>A New Paradigm for the Internationalisation of New Ventures</h3>
    <p>
        <b>Abstract:</b>
        In former times, multinationals engaged in international business while small businesses tended to focus on
        their local markets. Competition in international markets was traditionally the realm of established companies,
        with newer businesses remaining local or regional in scope. Today, technology and regulatory changes allow new
        ventures to internationalise from inception, and an increasingly successful strategy is that of symbiosis
        between large and small firms operating in networks.
    </p>
    <b>Prof. Léo-Paul Dana</b>
    <img src="~/img/leopauldana.jpg" alt="Prof. Léo-Paul Dana"
        style="width: 200px; height: auto; float: right; margin-left: 10px; margin-bottom: 10px;" />
    <p>
        Léo-Paul Dana retired from Montpellier Business School in 2023 and is now Professor at Dalhousie University. A
        graduate of McGill University and HEC-Montreal, he served as Marie Curie Fellow at Princeton University and
        Visiting Professor at INSEAD and at Kingston University. He has published extensively in a variety of journals
        including Entrepreneurship: Theory & Practice, International Business Review, International Small Business
        Journal, Journal of Business Research, Journal of Small Business Management, Journal of World Business, Small
        Business Economics, and Technological Forecasting & Social Change.
    </p>
    <h3>Achieving Sustainable Development Goals through Innovation and Human Resource Management</h3>
    <p>
        <b>Abstract:</b>
        Innovation is the engine for the economic and, increasingly, social development of nation states. In recent
        decades, innovation is not only seen as the key to the economic competitiveness of nation states and firms, but
        also as an important mechanism to address grand challenges such as public health, environmental issues and
        poverty reduction. Innovation systems play an important role in achieving the United Nations (UN) Sustainable
        Development Goal (SDG). This presentation examines how innovation can contribute to achieving SDGs through human
        resource management (HRM) strategy, policy and practice. It argues that to achieve the SDGs, firms’ innovation
        needs to be human-centred and provides examples to illustrate how this can be accomplished. The presentation
        highlights that SDGs are interconnected and interdependent; the achievement of one may be contingent upon other
        SDGs as well as contributing to the achievement of other SDGs, but it requires stakeholders’ collective efforts
        at all levels.
    </p>
    <b>Prof. Fang Lee Cooke</b>
    <img src="~/img/fang.jpg" alt="Prof. Fang Lee Cooke"
        style="width: 200px; height: auto; float: right; margin-left: 10px; margin-bottom: 10px;" />
    <p>
        Fang Lee Cooke is a Distinguished Professor at Monash Business School, Monash University, Melbourne, Australia:
        https://research.monash.edu/en/persons/fang-lee-cooke. She is a Fellow of the Academy of the Social Sciences in
        Australia. She is a panel member of the United Nations Environment Programme-International Sciences Council,
        foresight Expert Panel. Fang has been ranked as one of the top 1% of scientists in the world in research
        citation impact by the Stanford University study since 2020. Prior to migrating to Australia in 2010, Dr Cooke
        was a full professor at Manchester Business School at the University of Manchester (since 2005) in the United
        Kingdom. She is the author/co-author of more than 164 academic journal articles and over 70 book chapters. She
        has a long-standing interest in qualitative research in emerging economies and is currently engaging in research
        related to the role of businesses in achieving Sustainable Development Goals. Professor Cooke is the recipient
        of the Dean’s Award for PRME Research Excellence (2018) and the Dean’s Award for Research Excellence (2011),
        Faculty of Business and Economics, Monash University, Australia.
    </p>
    <br/>
    <h3>Advancing Electric Vehicle Battery Sustainability: A Supply Chain Perspective</h3>
    <p>
        <b>Abstract:</b>
        Electric Vehicle Batteries (EVBs) differ from other types of household batteries. 
        When an EVB's capacity falls to 70-80% of its full capacity, it is no longer suitable for electric vehicle use but can be repurposed for other applications. 
        However, reusing EVBs is complex and challenging. 
        Synthesising insights from six pivotal research papers, this presentation provides an overview of EVB closed-loop supply chains and their associated challenges, including return forecasting, manufacturing and remanufacturing decisions, pricing strategies, maximising commercial and social profits, and the design of government subsidies. 
        For a more detailed illustration, we examine a four-echelon EVB closed-loop supply chain, comprising the government, an electric/gasoline vehicle (re-)manufacturer, a retailer, and consumers. 
        Using Stackelberg game theory, the objective is to understand how government subsidies should be allocated to maximise the total profit of the entire supply chain, with a suggestion for targeted subsidies for EV customers during the early market development stages.
    </p>
    <b>Prof. Petros Ieronomachou</b>
    <img src="~/img/petros.jpg" alt="Prof. Prof. Petros Ieronomachou"
        style="width: 200px; height: auto; float: right; margin-left: 10px; margin-bottom: 10px;" />
    <p>
        Prof Ieronomachou is the Associate Dean for Research and Knowledge Exchange for the Greenwich Business School. 
        He previously led the Department for Systems Management and Strategy since 2012. 
        He is an experienced educator and curriculum designer, capable in managing large teaching and research teams; a successful organiser of projects and budgets, and skilled mentor of students and staff. 
        He is also the founder of Connected Cities Research Group and co-director of Networks and Urban Systems Centre of Excellence. 
        Backed by several years of experience, he has been involved in externally funded projects in the UK, Europe and Asia. 
        With a research specialisation in urban systems management, he focuses invariably on urban business ecosystems and operations and utilises a variety of theories and knowledge including strategic niche management, transitions, system dynamics and neo-institutional theory. 
        Regularly invited as speaker to international urban forums, he serves as member of various journal and conference boards and has influenced learning and research at several international institutes.
    </p>
    <br />
    <b>Pr. Norbani Che Ha</b>
    <img src="~/img/norbani.jpg" alt="Pr. Norbani Che Ha"
        style="width: 200px; height: auto; float: right; margin-left: 10px; margin-bottom: 10px;" />
    <p>
    Dr. Norbani Che Ha is a Professor of Marketing in the Department of Management and Marketing at the  Faculty of Business and Economics, Universiti Malaya, Kuala Lumpur.  
    She is the Editor-in-Chief, Asian Journal of Business and Accounting, University Malaya.  
    She was the Deputy Director of Research at Social Wellbeing Research Centre/Malaysia Employee Provident Fund and Head of Department of Marketing, Faculty of Business and Accountancy.  
    She received her PhD from Monash University, Australia, and MBA and BsBA from University of Denver, Colorado USA.   
    Her research interests are in marketing capabilities, small and medium enterprises, and organizational performance.  
    She publishes widely in several journals such as Journal of Business Research, Journal of Strategic Marketing, Marketing Intelligent and Planning and many others.  
    She contributes to several book chapters and has many books on her own.  
    She has been awarded several research funding from government agencies, universities and external entities including the Ministry of Higher Education, University of New Castle, Australia, and the Ministry of Home Affairs.  
    She is also involved in consultancy projects for private and public institutions in Malaysia.   
    Among her consultancy projects are with Malaysian Productivity Corporation, Teraju/Prime Minister Department/PwC, UKSFelda/Prime Minister Department, Ministry of Higher Education, Aeon Co. (M) Bhd., Dewan Bandaraya Kuala Lumpur (Kuala Lumpur City Hall), Tenaga Nasional, Johor Port and Malayan Flour Mills Berhad.
    </p>
</div>