@page
@model FCAI.Pages.VenueModel
@{
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>CONFERENCE VENUE</h1>
    <strong>GREENWICH VIETNAM, HANOI CAMPUS</strong>
    <p>
        <b>Golden Park Tower, 2 Pham Van Bach Street, Yen Hoa Ward, Cau Giay District, Hanoi, Vietnam</b>
    </p>
    ABOUT GREENWICH VIETNAM - HANOI CAMPUS
    <ul>
        <li>
            Greenwich Vietnam is an international alliance between the University of Greenwich, United Kingdom and FPT
            University, Vietnam. Currently, it has 4 campuses across Vietnam, which are located in Hanoi, Da Nang, HCMC and
            Can Tho.
        </li>
        <li>
            Located in Hanoi’s Cau Giay District, a vibrant urban area that is home to some of the top universities in the
            country, Greenwich Vietnam - Hanoi Campus is an excellent representation of international higher education,
            which is growing strong to become a major player in the education landscape of Vietnam.
        </li>
        <li>
            Situated at the “golden” intersection of three main streets, Greenwich Vietnam - Hanoi Campus is the neighbor of
            many leading corporations’ headquarters and institutions in Vietnam such as: FPT Corporation, Samsung, Mobifone,
            Viettel, PVI and the future location of the US Embassy in Hanoi.
        </li>
        <li>
            Occupying the first 4 stories of the newly constructed 45-story building, Greenwich Vietnam - Hanoi Campus
            provides more than 50 well-equipped classrooms, 1 conference room and other functional spaces such as: gallery,
            library, studio rooms, self-study corners, pantry, etc with a total capacity of up to 5,000 students.
        </li>
        <li>
            Studying at Greenwich Vietnam - Hanoi Campus, students are not only able to enjoy the vitality of the new center
            of the capital city but also are able to keep themselves updated to constant changes in the economic landscape
            and business environment at the heart of Vietnam.
        </li>
        <li>
            Inspired by the historical location of the University of Greenwich main campus in London, the United Kingdom,
            the Hanoi Campus gets visitors excited with its own version of the Prime Meridian or the Longitude 0º which
            symbolizes Greenwich Vietnam as the starting point of its students’ journey to discover other parts of the
            world.
        </li>
    </ul>

</div>