.userinfo {
    display: flex;
    white-space: nowrap;
    justify-content: flex-end;
}

.userinfo-content {
    text-align: right;
}

.nav_menu{
    display: flex;
    flex-wrap: wrap;
}

.font_header{
    font-size: 12px !important;
}

@media (max-width: 768px) {
    #userinfo {
        display: none;
    }

    #userinfo_mobi {
        display: block;
    }
}

@media (min-width: 769px) {
    #userinfo {
        display: block;
    }

    #userinfo_mobi {
        display: none;
    }
    #userinfo_mobi2{
        display: none !important;
    }
}