@page
@model FCETC.Pages.ParticipantListenerModel
@{
    ViewData["Title"] = "Participant Listener";
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>REGISTRATION FEE FOR PARTICIPANTS</h1>
    <hr />
    <div class="row">
        <div class="col-md-12 mb-3">
            <div>
                <table style="font-size: 14px; padding: 10px; text-align: center;">
                    <tr>
                        <th rowspan="2" style="text-align: center; vertical-align: middle;">
                            <strong>Registration Type<strong>
                        </th>
                        <th colspan="2" style="text-align: center;">
                            Region
                        </th>
                        <th colspan="2" style="text-align: center;">
                            Inclusive Package
                        </th>
                    </tr>
                    <tr>
                        <th colspan="1" style="text-align: center;">International</th>
                        <th colspan="1" style="text-align: center;">Vietnam</th>
                        <th colspan="1" style="text-align: center;">Include Gala dinner</th>
                        <th colspan="1" style="text-align: center;">Include Academic tour</th>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">Author (Regular)</td>
                        <td style="padding: 5px; font-weight: bold;">350 USD</td>
                        <td style="padding: 5px; font-weight: bold;">5.000.000 VND</td>
                        <td style="font-weight: bold;">Yes</td>
                        <td style="font-weight: bold;">Yes</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">Author (Student)</td>
                        <td style="padding: 5px; font-weight: bold;">250 USD</td>
                        <td style="padding: 5px; font-weight: bold;">4.500.000 VND</td>
                        <td style="font-weight: bold;">Yes</td>
                        <td style="font-weight: bold;">Yes</td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">Listener</td>
                        <td style="padding: 5px; font-weight: bold;">100 USD</td>
                        <td style="padding: 5px; font-weight: bold;">1.000.000 VND</td>
                        <td style="font-weight: bold;">Yes</td>
                        <td style="font-weight: bold;">Yes</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12 mb-3">
            <p style="font-weight: bold;">All registration types include admission to the followings:</p>
            <ul>
                <li>•	All technical sessions</li>
                <li>•	Coffee breaks</li>
                <li>•	Lunches</li>
                <li>•	Academic tour</li>
                <li>•	Gala dinner </li>
                <li>•	Certificate of Attendance</li>
            </ul>
        </div>

    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12 mb-3">
            <p style="font-weight: bold;">FCETC 2025 Registration Policy</p>
            <ul>
                <li>-	Onsite registration is not available for all types of participants. Registration is only accepted with online registration and payment. Please finish your registration and payment before the deadline.  </li>
                <li>-	Payment must be paid in VND only. </li>
                <li>-	Please upload the required documents to the online registration system or conference email box: <a href="mailto:fcbem@fe.edu.vn">FCETC@fe.edu.vn</a> to finish the registration:</li>
                <li>•	Payment proof</li>

            </ul>

        </div>

    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12 mb-3">
            <p style="font-weight: bold;">Cancellation and Refund Policy</p>
            <p>Registration cannot be cancelled and payment will not be refunded by any cases</p>
            <p>Once receive a notification from FCETC 2025 that the paper is accepted, please follow the steps below:</p>
            <p><strong>Step 1: </strong>Fill online registration form for each person   </p>
            <p><strong>Step 2: </strong>Pay registration fee</p>
            <p>Once finish online registration, please pay the registration fee via bank transfer by <strong>July 15th, 2025</strong></p>
            <p>The bank account is detailed as follows:</p>
            <p>Our Bank  Name: TIEN PHONG COMMERCIAL JOINT STOCK BANK, HANOI, VIETNAM </p>
            <p>Our Account No.: XXXXXXXX</p>
            <p>Swift Code: TPBVVNVX </p>
            <p>Beneficiary: Truong Dai Hoc FPT</p>
            <p>Address: Hoan Kiem branch, Hanoi, Vietnam / Chi nhánh Hoàn Kiếm, Hà Nội, Việt Nam </p>
            <p>* Bank Address or Bank Branch is only compulsory for domestic transfer. International author or listener do NOT have to insert this information during their international money order (IMO)</p>
            <p>Transfer content: Please STRICTLY follow the following formula:</p>
            <p style="font-weight: bold;">FCETC 2025 – Listener – Full name of the listener – Region</p>
            <p><i style="font-weight: bold;">For example: </i> FCETC 2025 – Listener – Michael Jackson – International</p>
            <p><strong>Step 3: </strong>Prepare the camera-ready package and the scanned copyright then send it to the organizer’s email address: <a href="mailto:fcbem@fe.edu.vn">FCETC@fe.edu.vn</a> (an email for each accepted paper) as follows: [FCETC 2025] - Paper ID – Camera-ready and Copyrights</p>
        </div>

    </div>
    <br />
    <hr />

</div>