@page
@model FCETC.Pages.News.NewsModel
@{
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>NEWS</h1>
    <hr />

    <div class="list-news-card">

    </div>
    
</div>
