@page
@model FCBEM.Pages.AgendaModel
@{
    ViewData["Title"] = "Agenda";
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>AGENDA</h1>
    To be updated soon.
</div>

