@page
@model FCBEM24.Pages.CFPModel
@{
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>CALL FOR PAPERS</h1>
    <p>
        2024 5th FPT Education Conference on Business, Economics and Management (FCBEM 2024) is co-organised by FPT Education, Vietnam, and Greenwich Vietnam, with support from the University of Greenwich (UK). FCBEM 2024 is hosted at Greenwich Vietnam, Hanoi Campus, on 30th November and 1st December 2024.
        <br />
        We are delighted to announce the Call for Papers for this upcoming international conference, themed "Exploring Synergies
        in Business, Operations, and Economics: Advancing Solutions for a Sustainable Society," which aims to explore and
        discuss emerging trends, contemporary challenges, and synergy solutions for a sustainable society within the fields of
        but not limited to economics, operations, and business management, fostering global collaboration and innovation. We
        cordially invite all researchers, scholars, industry experts, and practitioners to submit their original research and
        review papers to this conference with the detailed information described in the Conference Sub-themes section below.
    </p>
    <p><b>Conference sub-themes:</b></p>
    <p>Submissions are invited to cover but not limited to the following areas:</p>
    <ul style="list-style-type: disc;">
        <li><b>Entrepreneurship and Start-Up Ecosystems:</b> Analyzing the key factors that drive successful entrepreneurship and the development of vibrant start-up ecosystems.</li>
        <li><b>Marketing in the Digital Age:</b> Assessing the evolving landscape of digital marketing and its implications for consumer engagement and brand development.</li>
        <li><b>Financial Management and Fintech Innovations:</b> Understanding the impact of fintech innovations on traditional financial management and emerging trends in the financial sector.</li>
        <li><b>Operations Management:</b> This will explore the latest advancements and innovations in operational processes, focusing on how these improvements can significantly enhance efficiency and productivity across various industries. Participants are encouraged to submit papers that discuss cutting-edge research, case studies, and theoretical perspectives on optimizing operational strategies, technology integration, and sustainable practices to drive organizational success in a global context.</li>
        <li><b>Supply Chain Management and Logistics in a Global Context:</b> Investigating the complexities and innovations in global supply chain management and logistics.</li>
        <li><b>Leadership in the 21st Century:</b> Examining the evolving nature of leadership in the 21st century and its impact on organizational success.</li>
        <li><b>Human Resource Management and Organizational Behavior:</b> Exploring contemporary challenges and strategies in human resource management and organizational behavior, especially in the context of applying AI.</li>
        <li><b>Digital Transformation and Business Innovation:</b> Exploring the transformative impact of digital technologies on modern business models and practices.</li>
        <li><b>Emerging Technologies and their Impact on Business Models:</b> Analyzing how emerging technologies are reshaping traditional business models and creating new market opportunities.</li>
        <li><b>Globalization and International Business Strategies:</b> Examining the dynamics of globalization and their influence on international business strategies and operations.</li>
        <li><b>Sustainable Business Practices and Corporate Social Responsibility:</b> Investigating the integration of sustainability into business operations and the role of CSR in modern corporate strategy.</li>
        <li><b>Green Finance and Investments:</b> Exploring the growth and impact of green finance and investment in promoting sustainable economic development.</li>
        <li><b>Green Economy and Economic Growth:</b> Assessing the relationship between the green economy and sustainable economic growth.</li>
        <li><b>Environmental Economics and Policy:</b> Analyzing the economic implications of environmental policies and their role in shaping sustainable development.</li>
        <li><b>Economics of Renewable Energy</b></li>
        <li><b>Sustainable Development Goals (SDGs) and Economic Policies</b></li>
        <li><b>Resource Economics and Sustainable Management</b></li>
        <li><b>Economic Impact of Climate Change</b></li>

    </ul>
</div>