@page
@model FCBEM24.Pages.ContactModel
@{
    string text = $"{Model.ProjectName.ToUpper()} 20{Model.ProjectYear}";
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>CONTACT US</h1>
    <hr />
    @text Organizing Committee <br />
    Email: fcbem@fe.edu.vn <br />
    Phone: +84 2466549806 <br />
</div>