@page
@model FCBEM24.Pages.OrganizerModel
@{
}

<div class="lead" style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>CONFERENCE CHAIR</h1>
    <p>Mr. Nguyen Nhut Tan, Director of Greenwich Vietnam</p>
    <h1>TECHNICAL PROGRAM COMMITTEE</h1>
    <strong>Technical Program Chair</strong>
    <p>Assoc.Prof.Dr. Dao Thi Thanh Lam, Head of Academic Affairs, Greenwich Vietnam</p>
    <strong>Technical Program Members</strong>
    <p>
    <ul style="list-style-type: disc;">
        <li>Dr. Ngo Quang Huy, Greenwich Vietnam, Vietnam</li>
        <li>Prof. WSG Dr. Eng. Zdzisław Pólkowski, WSG Bydgoszcz, Poland</li>
        <li>Assoc.Prof. Roberto Chavez Clavijo, Swinburne University of Technology, Australia</li>
        <li>Assoc.Prof. Amjad Shamim, Universiti Teknologi PETRONAS, Malaysia</li>
        <li>Dr. Trinh Anh Khoa, Greenwich Vietnam, Vietnam</li>
        <li>Dr. Vo Minh Hieu, Greenwich Vietnam, Vietnam</li>
        <li>Dr. Nguyen Anh Phuong, Greenwich Vietnam, Vietnam</li>
        <li>Dr. Bui Khac Linh, Greenwich Vietnam, Vietnam</li>
        <li>Dr. Nguyen Thi Thu Ha, Greenwich Vietnam, Vietnam</li>
        <li>Dr. Diem Thi Thanh Hai, Greenwich Vietnam, Vietnam</li>
        <li>Dr. Vu Anh Tai, Greenwich Vietnam, Vietnam</li>
        <li>Dr. Huynh Ai Van, Greenwich Vietnam, Vietnam</li>
        <li>Mr. Nguyen Minh Hai, Greenwich Vietnam, Vietnam</li>
        <li>Mr. Tran Nguyen Hoang Quan, Greenwich Vietnam, Vietnam</li>
        <li>Ms. Nguyen Thuy Linh, Greenwich Vietnam, Vietnam</li>
    </ul>
    </p>
    <strong>Local Arrangement Committee</strong>
    <p>
    <ul style="list-style-type: disc;">
        <li>Mr. Ngo Thanh Tung – Director of Greenwich Vietnam, Hanoi Campus, Vietnam</li>
        <li>Dr. Nguyen Duy Nghiem – Director of Greenwich Vietnam, Da Nang Campus, Vietnam</li>
        <li>Dr. Ho Thi Thao Nguyen (Jenny) - Head of the Office of Science Management, FPT Education, Vietnam</li>
    </ul>
    </p>
</div>