@page
@model FCBEM.Pages.ProgramModel
@{
    ViewData["Title"] = "Program";
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>CONFFERENCE PROGRAM</h1>
    To be updated soon.
</div>