@page
@model FCBEM24.Pages.PublicationModel
@{
}

<div class="lead" style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>PUBLICATION</h1>
    <p>
        Authors of full papers will be offered opportunities to publish their paperwork ISBN proceedings or ISI/Scopus
        indexed journals. <br />
        <b>Conference Proceeding Publication</b><br />
        Conference Proceedings (ISBN): All accepted papers will be published in ISBN conference proceedings at no
        additional cost. Information about the ISBN conference proceedings will be updated on the conference website.
        <br />
        <b>Journal Publication</b><br />
        We welcome high-quality contributions from researchers and scholars in the field and encourage the submission
        research papers for review and potential publication in: <br />
        <b>1. Business Perspectives and Research - Scopus Q2</b><br />
        <b>2. International Journal of Entrepreneurship and Small Business - Scopus Q3</b><br />
    </p>
</div>