@page
@model FCBEM.Pages.SubmissionModel
@{
    ViewData["Title"] = "Submission";
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>PAPER TEMPLATE</h1>
    <hr />
    <p>
        Authors are invited to submit their manuscripts written in English by the deadline on the website.
        <br />
        Please strictly follow instructions for paper formatting otherwise papers which do not meet these guidelines may not be
        published!
        <ul>
            <li>Abstract template: <a href="~/docs/Abstract_template_FCBEM_2024.docx">Abstract_template_FCBEM_2024.docx</a></li>
            <li>Full paper template: <a href="~/docs/Full_paper_template_FCBEM_2024.docx">Full_paper_template_FCBEM_2024.docx</a></li>
        </ul>
    </p>
    <h1>PUBLICATION ETHICS – PENALTY AGAINST PLAGIARISM</h1>
    <p>
        We firmly believe that ethical conduct is the most essential virtue of any academic. Hence, any act of plagiarism is a totally unacceptable academic misconduct and cannot be tolerated.
    </p>
    <h1>SUBMISSION INSTRUCTIONS</h1>
    <hr />
    <p>
        Please strictly follow instructions for submission. Click <a href="~/Resources/Downloads/FCBEM-2024_Instructions.pdf" target="_blank">here</a> for more details.
    </p>
</div>