@page
@model FCBEM24.Pages.VisaModel
@{
}

<div class="lead"
     style="margin-top: 3ex; font-weight: normal; text-align: justify;  ">
    <h1>VISA:</h1>
    <p>For entry into Vietnam, a VISA may be required for FCBEM 2024 attendees from some countries. Please make sure whether you need to apply for a VISA or not on the website of the Immigration Department Government of The Socialist Republic of Vietnam at: <a href="https://www.vietnamimmigration.org/">https://www.vietnamimmigration.org/</a></p>

    <h2>Visa for participants</h2>
    <ul style="list-style-type: disc;">
        <li>To enter Vietnam, each foreigner may need a Vietnamese visa.</li>
        <li>
            Citizens (passport holders) of the ASEAN countries, Russia, P.R. China, South Korea, Japan, Italy, Germany, Spain, United Kingdom, France, and Belarus may not need a visa for a short visit (15 days).
            If citizens of these countries want to stay in Vietnam more than 15 days, they need to apply for Vietnamese visas.
        <li>If you need more information about Vietnamese visas, please inquire at Vietnamese Missions Abroad in your country.</li>
        <li>It is possible to get a "visa on arrival," that is a visa to be picked up at the airport upon arrival at one of Vietnam international airports (Tan Son Nhat Airport in Ho Chi Minh, Cam Ranh Airport in Nha Trang City, Da Nang Airport in Da Nang City, or Noi Bai Airport in Ha Noi).</li>
        <li>Please notice that a Vietnamese visa is required in case you enter Vietnam from the third country, even if you live with a long-term visa in the country above.</li>
        <li>Some people have been successful with using online services such as "My Vietnam Visa" to obtain a Vietnamese tourist visa.</li>
    </ul>
</div>