@page 
@model FCETC.Areas.Client.Pages.IndexModel

@{
    ViewData["Title"] = "Information";
    Layout = "/Pages/Shared/_Layout.cshtml";
}
@await Component.InvokeAsync("StatusMessage", new { message=Model.StatusMessage })

<form method="post">
    <div class="row">
        @*<div asp-validation-summary="All" class="text-danger"></div>*@
        <input type="hidden" asp-for="Input.ID">
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Code"></label>
                <input asp-for="Input.Code" disabled class="form-control">
                <span asp-validation-for="Input.Code" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control">
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control">
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.IdentityNumber"></label>
                <input asp-for="Input.IdentityNumber" class="form-control">
                <span asp-validation-for="Input.IdentityNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row">
        <div class="form-group">

            <button id="add-role" type="submit" class="btn btn-block btn-primary">
                Cập nhật
            </button>

        </div>
    </div>
</form>
