@page 
@model FCBEM.Pages.Authorize.RegisterModel
    
@{
    ViewData["Title"] = "Register";
    Layout = "_Layout_Auth";
}
<style>
    .required:after {
        content: " *";
        color: red;
    }
</style>
<form method="post" asp-antiforgery="true">

    <div class="input-group mb-2 row">
        <div class="col-md-5">
            <label class="required" asp-for="Input.Email"></label>
        </div>
        <div class="col-md-6" style="text-align:right">
            <input asp-for="Input.Email" class="form-control" autofocus="autofocus" autocomplete="off" required />
        </div>

    </div>
    
    <div class="input-group mb-2 row">
        <div class="col-md-5">
            <label class="required" asp-for="Input.Name"></label>
        </div>
        <div class="col-md-6" style="text-align:right">
            <input asp-for="Input.Name" class="form-control" autofocus="autofocus" autocomplete="off" required />
        </div>

    </div>

    <div class="input-group mb-2 row">
        <div class="col-md-5">
            <label class="required" asp-for="Input.Password"></label>
        </div>
        <div class="col-md-6" style="text-align:right">
            <input asp-for="Input.Password" class="form-control" autofocus="autofocus" autocomplete="off" required />
        </div>

    </div>

    <div class="input-group mb-2 row">
        <div class="col-md-5">
            <label class="required" asp-for="Input.ConfirmPassword"></label>
        </div>
        <div class="col-md-6" style="text-align:right">
            <input asp-for="Input.ConfirmPassword" class="form-control" autofocus="autofocus" autocomplete="off" required />
        </div>

    </div>

    <div class="input-group mb-3">
        <button style="width: 20%" type="submit" class="btn btn-block btn-primary">Register</button>
    </div>
    <div class="input-group mb-3">
        <a asp-page="./Login">Please log in with your account</a>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
 
</form>
